<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      New Session
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let population of populationTypes">
    <img [src]="'assets/imgs/' + population.image" />
    <ion-card-content>
      <ion-card-title>
        <label for="{{population.type}}">
          <input type="radio" name="population" [value]="population.value" id="{{population.type}}" (change)="assignValue(population.value)" > {{ population.type }} 
        </label>
      </ion-card-title>
      <p>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="displayResults()"  ion-button align-right [disabled]="selectedPopulation.length == 0"  >Next</button>
  </ion-toolbar>
</ion-footer>