page-results {
  .p0level {
    background: #89d83f;
  }

  .p1level {
    background: #b5e630;
  }

  .p2level {
    background: #e6bd38;
  }

  .p3level {
    background: #f5963d;
  }

  .p4level {
    background: #e05353;
  }
}
