<!--
  Generated template for the ResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Session | Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="reports.length == 0">
    
    <h2 align-center>Loading ...</h2>
  </div>

  <ng-container *ngIf="reports.length">

    <h2>
      <ion-icon name="pizza"></ion-icon>
      Food and nutrition
    </h2>
    <ion-card *ngFor="let report of reports[0]">
      <ion-card-header>
        {{report.phenotype.display_name}}
      </ion-card-header>
      <ion-card-content>

        <p [ngClass]="getColorCode(report.summary.score)">{{ report.summary.text }}
          <small>{{ report.summary.score}}/4</small>
        </p>
      </ion-card-content>
    </ion-card>
    <!--  -->
    <h2>
      <ion-icon name="person"></ion-icon>
      Personality
    </h2>
    <ion-card *ngFor="let report of reports[1]">
      <ion-card-header>
        {{report.phenotype.display_name}}
      </ion-card-header>
      <ion-card-content>

        <p [ngClass]="getColorCode(report.summary.score)">{{ report.summary.text }}
          <small>{{ report.summary.score}}/4</small>
        </p>
      </ion-card-content>
    </ion-card>
    <!--  -->
    <h2>
      <ion-icon name="body"></ion-icon>
      Trait
    </h2>
    <ion-card *ngFor="let report of reports[2]">
      <ion-card-header>
        {{report.phenotype.display_name}}
      </ion-card-header>
      <ion-card-content>

        <p [ngClass]="getColorCode(report.summary.score)">{{ report.summary.text }}
          <small>{{ report.summary.score}}/4</small>
        </p>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="printPDF()" ion-button align-right [disabled]="reports.length == 0">Export</button>
    <button (click)="downloadPdf()" ion-button align-right [disabled]="!pdfObj">Save PDF</button>
  </ion-toolbar>
</ion-footer>