<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Health Record Recovery
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="login" *ngIf="!loggedIn">
    <h2>Not logged in</h2>
    <button ion-button (tap)="connect()">
      Connect to GenomeLink
    </button>
  </div>

  <div class="login" *ngIf="loggedIn">
    <button ion-button (tap)="newSession()">
      New session
    </button>

  </div>

</ion-content>