page-home {

	ion-content {	
		background: url(https://genomelink.io/static/img/common/bg/Accounts_BG.5d23b98937ec.png);
	}

    .login {
        display: flex;
        height: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
